.couponContentBG {
  background-color: gray;
  border-radius: 6px;
  padding-inline: 12px;
}

.couponTitle {
  display: flex;
  align-items: flex-start;
  padding: 20px 0 0 20px;
}
.couponImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.couponItem {
  width: calc(33.33% - 20px); /* 减去 padding 和 margin 的宽度 */
  margin-bottom: 20px; /* 设置间距 */
}

.coupon-rwd {
  @media screen and (min-width: 576px) {
    display: none;
  }
}
