.couponContentBG {
  background-color: #b9b9b9;
  border-radius: 5px;
}
.myCoupon {
  display: flex;
  align-items: flex-start;
  padding: 10px 50px;
  
}
.couponImage {
  display: flex;
  flex-wrap: wrap;
}
