.couponContentBG {
  background-color: gray;
  border-radius: 6px;
  padding-inline: 12px;
  @media screen and (max-width: 576px) {
    margin: 10px 10px 0 0;
  }
}
.couponTitle {
  display: flex;
  align-items: flex-start;
  padding: 20px 0 0 20px;
}
.couponImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 16px;
  @media screen and (max-width: 576px) {
    padding: 0 80px;
  }
}
.couponPages{
  @media screen and (max-width: 576px) {
    display: none;
  }
}