<style>
  .div {
    align-self: stretch;
    background-color: #fff;
    display: flex;
    gap: 8px;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 6px;
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 120px;
    max-width: 100%;
    margin: auto 0;
  }
  .div-2 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 0 20px;
  }
  .div-3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--dark, #1d1d1d);
    text-overflow: ellipsis;
    font: 16px Noto Sans TC, sans-serif;
  }
  .div-4 {
    color: var(--secondary, #5a5a5a);
    font-family: Noto Sans TC, sans-serif;
    margin-top: 6px;
  }
  .div-5 {
    display: flex;
    margin-top: 6px;
    padding-right: 76px;
    gap: 12px;
    white-space: nowrap;
  }
  .div-6 {
    justify-content: center;
    display: flex;
    gap: 5px;
  }
  .img-2 {
    aspect-ratio: 1.2;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: var(--yellow, #faad14);
  }
  .div-7 {
    color: var(--yellow, #faad14);
    font-family: Noto Sans TC, sans-serif;
  }
  .div-8 {
    color: var(--body, #b9b9b9);
    font-family: Noto Sans TC, sans-serif;
    flex-grow: 1;
  }
  .div-9 {
    justify-content: space-between;
    display: flex;
    gap: 5px;
    color: var(--secondary, #5a5a5a);
  }
  .img-3 {
    aspect-ratio: 0.92;
    object-fit: auto;
    object-position: center;
    width: 11px;
    margin: auto 0;
  }
  .div-10 {
    font-family: Noto Sans TC, sans-serif;
  }
  .div-11 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 14px;
    color: var(--secondary, #5a5a5a);
  }
  .img-4 {
    aspect-ratio: 1.06;
    object-fit: auto;
    object-position: center;
    width: 16px;
  }
  .div-12 {
    font-family: Noto Sans TC, sans-serif;
  }
  .div-13 {
    display: flex;
    margin-top: 6px;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: var(--dark, #1d1d1d);
    font-weight: 700;
    white-space: nowrap;
    padding: 0 2px;
  }
  .div-14 {
    font-family: Noto Sans TC, sans-serif;
    justify-content: center;
    padding: 5px 14px 5px 0;
  }
  .img-5 {
    aspect-ratio: 1.11;
    object-fit: auto;
    object-position: center;
    width: 20px;
    margin: auto 0;
  }
</style>
