/* set-content,set-img, set-tag */
.set-rwd{
    display: flex;
    flex-direction: row;
}
.rwd-title{
    width: calc(60%);
}
.rwd-content{
    width: calc(60%);
}
.tag-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .btn{
        margin-right: 20px;
    }
}

@media screen and (max-width: 576px) {
    .set-rwd{
        flex-direction: column;
    }
    .rwd-title{
        width: 100%;
    }
    .rwd-content{
        width: 100%;
    }
}