.couponCard {
  width: 300px;
  // width: 100%;
  // max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
}
.couponImg {
  border-right: dashed gray;
  border-width: 4px;
  @media screen and (max-width: 576px) {
    margin: 0;
    padding: 0;
  }
}
